/*csslint box-sizing: false, ids: false, fallback-colors: false*/

fieldset.input-group {
    border: 1px groove #ddd;
    padding: 0 1.4em 1.4em 1.4em;
    margin: 0 0 1.5em 0;
    -webkit-box-shadow:  0 0 0 0 #000;
    -moz-box-shadow: 0 0 0 0 #000;
            box-shadow:  0 0 0 0 #000;
}

    legend.input-group {
        font-size: 1.2em;
        font-weight: bold;
        text-align: left;
        width:auto;
        padding:0 10px;
        border-bottom:none;
    }


    .plugin-card {
        background-color: #fff;
        border: 2px solid #c7c7c7;
        box-sizing: border-box;
        margin-bottom: 20px;
        position: relative;
        padding-right:5px;
        padding-left:5px;
        height:200px;
        width: 155px;
        box-shadow: 0 6px 10px 0 rgba(0, 0, 0, .14), 0 1px 18px 0 rgba(0, 0, 0, .12), 0 3px 5px -1px rgba(0, 0, 0, .2)
    }

    .plugin-card-image {
        padding-top: 2px;
        padding-bottom: 2px;
        border-bottom: 1px solid #c7c7c7;
    }

    .plugin-card-image > img {
        display:block;
        margin-left:auto;
        margin-right:auto;
        height: 50px;
        width: 50px;
    }

    .plugin-card-content {
        padding: 5px;
    }

    .plugin-card-content > h3 {
        margin-top: 5px;
        font-size: 14px;
    }

    .plugin-card-content > p {
        font-size: 12px;
    }

    .plugin-card-bottom {
        bottom: 0;
        box-sizing: border-box;
        padding-right: 10px;
        padding-bottom: 10px;
        position: absolute;
        width: 100%
    }

/*!
 * Adapted from Start Bootstrap - Simple Sidebar HTML Template
 * see: https://github.com/IronSummitMedia/startbootstrap-simple-sidebar
 */
 /* Toggle Styles */

#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled {
    padding-left: 250px;
}

#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: 250px;
    width: 0;
    height: 100%;
    margin-left: -250px;
    overflow-y: auto;
    background: #bfd8df;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
    width: 250px;
}

#page-content-wrapper {
    width: 100%;
    position: absolute;
    padding: 15px;
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -250px;
}

/* Sidebar Styles */

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
    text-indent: 20px;
    line-height: 40px;
}

.sidebar-nav li a {
    text-decoration: none;
    color: #000;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    color: #fff;
    background: rgba(255,255,255,0.2);
}

.sidebar-nav li button{
	display: none;
	float: right;
	background: transparent;
	border: none !important
}

.sidebar-nav li:hover button {
	display: inline;
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
    height: 65px;
    font-size: 18px;
    line-height: 60px;
}

.sidebar-nav > .sidebar-brand a {
    color: #000;
}

.sidebar-nav > .sidebar-brand a:hover {
    color: #fff;
    background: none;
}



@media(min-width:768px) {
    #wrapper {
        padding-left: 250px;
    }

    #wrapper.toggled {
        padding-left: 0;
    }

    #sidebar-wrapper {
        width: 250px;
    }

    #wrapper.toggled #sidebar-wrapper {
        width: 0;
    }

    #page-content-wrapper {
        padding: 20px;
        position: relative;
    }

    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }
}
